body
{
background-image:url("./gamerz.jpg");
background-size:cover;
}
#bgol{
    background-image: url("./aloo.jpg");
    height:800px;
    width:100%;
    background-size:cover;
    background-position: center;
}
#mgaim{
    width:100%;
    background-image:url("./gamerz.jpg");
background-size:cover;
}
.heading
{
width: 100%;
text-align: left;
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}
.olo{
    color:white;
    font-size:40px;
    font-family: 'Dancing Script', cursive;
}
.olo:hover{
    color:black;
    font-size:40px;
}